@import "variables";
@import "mixins";

.application-menu {
  position: relative;

  &--right {
    @include breakpoint-sm-up() {
      text-align: right;
    };
  }
}

.application-menu__button {
  width: 100%;
  padding: 1rem;
  text-align: left;
  color: $application-menu-button-text-color-default;
  background-color: $application-menu-button-background-color-default;
  border: 0;

  &:hover,
  &:focus {
    cursor: pointer;
    color: $application-menu-button-text-color-hover-focus;
    background-color: $application-menu-button-background-color-hover-focus;
  }

  &[aria-pressed="true"] {
    color: $application-menu-button-text-color-pressed;
    background-color: $application-menu-button-background-color-pressed;
  }

  @include breakpoint-sm-up() {
    width: auto;
  };
}

.application-menu__menu {
  display: none;
  margin: 0;
  list-style-type: none;

  &[aria-expanded="true"] {
    display: block;
    padding: 1rem 2rem;
    background-color: $application-menu-menu-color-expanded;
  }

  @include breakpoint-sm-up() {
    position: absolute;
    width: 230px;
    z-index: 10;

    &[aria-expanded="true"] {
      padding: 2rem 1rem;
    }
  };

  .application-menu--right & {
    text-align: left;

    @include breakpoint-sm-up() {
      right: 0;
    };
  }
}

.application-menu__item {
  margin-bottom: 1.5rem;
  line-height: 2rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.application-menu__link {
  color: $application-menu-link-color-small;

  &:focus,
  &:hover {
    color: $application-menu-link-color-small;
  }

  @include breakpoint-sm-up() {
    color: $application-menu-link-color-large;

    &:focus,
    &:hover {
      color: $application-menu-link-color-large;
    }
  };
}
